<div class="header">
  <h1>Fruit Store</h1>
</div>

<div class="pagehead">
  <h2>My Order History</h2>
</div>


<% @orders.reverse_each do |order| %>
  <div class="input">
	  <h3>
	  	<%= "Order No:" %>
	    <%= order.id %>
	  </h3>
	  <p>
	  	<b><%= "Status: " %></b>
		<%= order.status %> 
		<br>
		<b><%= "Transaction token: " %></b>
		<%= order.token %> 
		<br>
		<b><%= "Transaction ID: " %></b>
		<%= order.txn_id %> 
	    <br>
	    <%= "Created " %>
	    <b><%= time_ago_in_words(order.created_at) %></b>
	    <%= " ago" %>
	    <br>
	    <br>
	  </p>
 </div>
<% end %>


